.loading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Hoặc 100% tùy context */
    background-color: rgba(0, 0, 0, 0.5); /* Tùy chọn */
    color: #0a0a0a;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
  }
  
  .spinner {
    border: 5px solid rgba(0, 253, 105, 0.2);
    border-top: 5px solid #fff;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
  }
  
  .loading-message {
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  