.image-container {
    display: flex;
    position: relative;
    width: 90px;
    height: 50px;
}

.image-preview {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.image-preview:nth-child(1) {
    right: 35px;
    transform: scale(1);
    z-index: 3;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.image-preview:nth-child(2) {
    right: 15px;
    transform: scale(0.8);
    z-index: 2;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
}

.image-preview:nth-child(3) {
    right: 0;
    transform: scale(0.6);
    z-index: 1;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.more-images {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    z-index: 4;
}