.alert {
    position: fixed;
    top: 10px;
    top: 8px;
    right: 10px;
    z-index: 1050;
    transition: opacity 0.5s ease-in-out;
    opacity: 1;
    min-width: 200px;
    font-size: 0.875rem;
}